body {
	margin: 0;
	padding: 0;

}

div .content{
	background-image: url(../images/yel.png) !important;
  	height: 100%;
  	width: 100%; 
  	background-position: center;
  	background-repeat: no-repeat;
 	background-size: cover;
}

.navbar-nav {
	flex-direction: row;
}

.nav-link {
	padding-right: .5rem !important;
	padding-left: .5rem !important;
}

.ml-auto {
	left: auto !important;
	right: 0px;
}

.chert{
	color: #cc6600;
	padding-bottom: 0px;
	padding-top: 5px;
	width: 300px;
	border: 1px solid #cc6600;
	border-radius: 8px;
}


